<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.onehealth.pwpolicy</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Library/OneHealth/Partners/Scripts/pwpolicyPerUser.sh</string>
  </array>
  <key>StartInterval</key>
    <integer>90400</integer>
</dict>
</plist>
